html, body {
    height: 100%;
}

/* main navigation */
header.main {
    /* expand then auto center */
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    min-width: 600px;

    padding-bottom: 40px;

    font-family: sans-serif;
}

header.main nav {
    max-width: 1200px;
    padding: 20px 20px 0px 20px;
}

header.main nav a.logo {
    float: left;
}
header.main nav a.logo img {
    height: 100px;
}

header.main nav ul {
    float: right;
    margin-top: 24px; /* vertically center menu with logo */
}
header.main nav ul li {
    float: left;
    
    padding: 20px 25px 20px 0px;
}
header.main nav ul li a {
    padding: 2px 0px 1px 5px;
    
    color: #E98300;
    text-decoration: none;
}
header.main nav ul li a:hover {
    padding-left: 3px;
    border-left: 2px solid #008542;
}
header.main nav ul li a.current {
    color: #008542;
}
header.main nav ul li:last-child {
    padding-right: 0px;
}

header.main hgroup {
    /* auto center */
    margin: 0 auto;
    width: 712px;

    clear: both;
}
header.main hgroup h1 {
    color: #E98300;
    font-size: 32px;
}
header.main hgroup h1 strong {
    color: #008542;
    font-weight: bold;
}

/* main content */
.main.content-wrapper {
    /* auto center */
    margin: 0 auto;
    width: 900px;

    /* sticky footer */
    padding-bottom: 78px;
}

.main.content section {
    margin-bottom: 20px;
}
.main.content section:last-child {
    margin-bottom: 0px;
}
.main.content section h1 {
    color: #E98300;
    font-size: 24px;
}

.main.content section .content {
    border-top: 2px solid #008542;
    padding-top: 5px;

    color: #444444;
    line-height: 1.25em;
    text-align: justify;
}
.main.content section .content p {
   padding-bottom: 20px;
}
.main.content section .content p:last-child {
    padding-bottom: 0px;
}
.main.content section .content h1 {
    border: 0px;

    color: #444444;
    font-size: 1em;
    line-height: 1.25em;
    font-weight: bold;
    text-align: justify;
}
.main.content section .content a.mail {
    color: #008542;
    text-decoration: none;
}
.main.content section .content a.mail:hover {
    text-decoration: underline;
}

/* sticky footer wrapper */
#wrap {
    min-height: 100%;
}

/* main footer */
footer.main {
    /* auto center */
    margin: 0 auto;
    width: 179px;

    /* sticky footer */
    margin-top: -78px; /* height of footer */
    clear: both;

    padding: 40px 0px 20px 0px;

    color: #444444;
    font-family: sans-serif;
}
footer.main strong {
    color: #008542;
    font-weight: bold;
}
