html, body {
    height: 100%;
}

/* sticky footer wrapper */
#wrap {
    min-height: 100%;
}

/* main navigation */
header.main {
    /* expand then auto center */
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    min-width: 750px;

    padding-bottom: 1.25em;

    font-family: sans-serif;
}

header.main nav {
    /* recognize floated content */
    width: 100%;
    float: left;

    padding: 1.25em 1.25em 0px 1.25em;
}

header.main nav a.logo {
    float: left;
}
header.main nav a.logo img {
    height: 100px;
}

header.main nav ul {
    float: right;
    margin-top: 24px; /* vertically center menu with logo */
}
header.main nav ul li {
    float: left;

    padding: 1.25em 1.5em 1.25em 0px;
}
header.main nav ul li:last-child {
    padding-right: 0px;
}
header.main nav ul li a {
    padding: 2px 0px 1px 5px;

    color: #E98300;
    text-decoration: none;
}
header.main nav ul li a:hover {
    padding-left: 3px;
    border-left: 2px solid #008542;
}
header.main nav ul li a.current {
    color: #008542;
}
header.main nav ul li.vote a {
   padding-right: 5px;
   border-bottom: 1px solid #E98300;
}
header.main nav ul li.facebook {
    padding-top: .75em;
}
header.main nav ul li.facebook a:hover {
    border-left: none;
}

header.main hgroup {
    /* auto center */
    margin: 0 auto;
    width: 712px;

    padding-top: 1.25em;

    clear: both;
}
header.main hgroup h1 {
    color: #E98300;
    font-size: 2em;
}
header.main hgroup h1 strong {
    color: #008542;
    font-weight: bold;
}

/* main content */
.main.content-wrapper {
    /* auto center */
    margin: 0 auto;
    max-width: 1000px;
    min-width: 750px;

    /* sticky footer */
    padding-bottom: 78px;
}
.main.content {
   margin: 0px 1.25em;
}

.main.content > * { /* all direct children */
    margin-bottom: 20px;
}
.main.content > *:last-child { /* last direct child */
    margin-bottom: 0px;
}
.main.content > * > header {
    border-bottom: 2px solid #008542;
    margin-bottom: 5px;
}
.main.content > * > header > h1 { /* main h1 for each .main.content element */
    color: #E98300;
    font-size: 1.5em;
}

/* .main.content .content = content portion of each .main.content element */
.main.content .content {
    color: #444444;
    line-height: 1.25em;
    text-align: justify;
    font-family: sans-serif;
}
.main.content .content > * {
   margin-bottom: 20px;
}
.main.content .content > *:last-child {
    margin-bottom: 0px;
}
.main.content .content a {
    color: #008542;
    text-decoration: none;
}
.main.content .content a:hover {
    text-decoration: underline;
}

/* main footer */
footer.main {
    /* auto center */
    margin: 0 auto;
    width: 179px;

    /* sticky footer */
    margin-top: -78px; /* height of footer */
    clear: both;

    padding: 2.5em 0px 1.25em 0px;

    color: #444444;
    font-family: sans-serif;
}
footer.main strong {
    color: #008542;
    font-weight: bold;
}
